@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background: #000;
} */
.overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    
    height: 160px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
}


tr:nth-child(even){
    background-color: rgb(181, 172, 160);
};

.neon-border {
    width: 200px;
    height: 200px;
    border: 4px solid #00ff00; /* Neon green border color */
    border-radius: 10px; /* Optional: for rounded corners */
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; /* Neon green glow */
  }